<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cuwordstudy.solomolaiye.wordstudyunit">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_ws"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".App"

        android:theme="@style/AppTheme">
        <service android:name=".Service.FIrebaseIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Service.FirebaseMessaging">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Login_Activity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BooksActivity"
            android:label="Word Study Bible">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cuwordstudy.solomolaiye.wordstudyunit.MainActivity" />
        </activity>
        <activity android:name=".Signup"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity android:name=".ChapterActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cuwordstudy.solomolaiye.wordstudyunit.BooksActivity" />
        </activity>
        <activity android:name=".Search"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cuwordstudy.solomolaiye.wordstudyunit.BooksActivity" />
        </activity>
        <activity android:name=".BibleActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".SendRequestActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cuwordstudy.solomolaiye.wordstudyunit.MainActivity" />
        </activity>
        <activity android:name=".NewTopicActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cuwordstudy.solomolaiye.wordstudyunit.MainActivity" />
        </activity>
        <activity android:name=".NewPrayerPointActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cuwordstudy.solomolaiye.wordstudyunit.MainActivity" />
        </activity>
        <activity android:name=".NewAnnouncementActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cuwordstudy.solomolaiye.wordstudyunit.MainActivity" />
        </activity>
        <activity android:name=".changepassword">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cuwordstudy.solomolaiye.wordstudyunit.MainActivity" />
        </activity>
        <activity android:name=".Forgotpassword">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cuwordstudy.solomolaiye.wordstudyunit.Login_Activity" />
        </activity>
        <activity android:name=".TopicActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cuwordstudy.solomolaiye.wordstudyunit.MainActivity" />
        </activity>
        <activity android:name=".AnswerActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cuwordstudy.solomolaiye.wordstudyunit.MainActivity" />
        </activity>
        <activity
            android:name=".Discussion"
            android:label="Meetings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cuwordstudy.solomolaiye.wordstudyunit.MainActivity" />
        </activity>
        <activity
            android:name=".PrayerRequest"
            android:label="Prayer Requests">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cuwordstudy.solomolaiye.wordstudyunit.MainActivity" />
        </activity>
        <activity
            android:name=".Notepadactivity"
            android:label="Notepad">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cuwordstudy.solomolaiye.wordstudyunit.MainActivity" />
        </activity>
        <activity
            android:name=".EditNoteActivity"
            android:label="New Note">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cuwordstudy.solomolaiye.wordstudyunit.Notepadactivity" />
        </activity>
        <activity android:name=".MembersActivity"
            android:label="Members">  <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.cuwordstudy.solomolaiye.wordstudyunit.MainActivity" /></activity>
        <activity android:name=".EditProfile_Activity"
            android:label="Update Profile">  <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.cuwordstudy.solomolaiye.wordstudyunit.MainActivity" /></activity>
    </application>

</manifest>